<div class="container">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p><strong>Rate My Coop</strong> is designed to connect YOU to students who have worked at a company you are interested in. By giving you access to ratings from other students and their associated contact information, you can make informed decisions about your next co-op experience without having to wait for an advisor. Happy hunting!</p>
  </div>

{{#paper-autocomplete
  placeholder="Type company name"
  options=model
  selected=selectedItem
  searchField="name"
  labelPath="name"
  onSelectionChange=(action (mut selectedItem)) as |company autocomplete|}}
  <span class="item-title">
    {{paper-icon "star"}}
    <span>
      {{paper-autocomplete-highlight
        label=company.name
        searchText=autocomplete.searchText
        flags="i"}}
    </span>
  </span>
  {{else}}
  Whoops! Looks like we don't have that company in the database yet!
{{/paper-autocomplete}}
</div>

{{#if selectedItem}}
  <button {{action 'findCoops'}}>
    <span>Find Coops at {{selectedItem.name}}!</span>
  </button>
{{/if}}

<ul>
  {{#each coopPositions as |coop|}}
    {{position-listing position=coop}}
  {{/each}}
</ul>

{{outlet}}
